<%- include('partials/header') %>

<header class="container text-center mt-5">
    <h1 class="center"><%= portfolio.nome %></h1>
    <h4><%= portfolio.titulo %></h4>
    <% portfolio.sobre.forEach(paragrafo => { %>
        <div class="greenText p-3">
            <p><%= paragrafo %></p>
        </div><br>
    <% }); %>
</header>

<section id="educacao">
    <h2 class="text-center">Educação</h2>
    <div class="container">
        <ul class="listaDeFormacoes">
            <% portfolio.educacao.forEach(formacao => { %>
                <li>
                    <h4><%= formacao.instituicao %></h4>
                    <b><%= formacao.curso %></b>
                    <p class="periodo pl-3"><%= formacao.periodo %></p>
                    <p class="greenText p-3"><%- formacao.descricao %></p>
                </li>
            <% }); %>
        </ul>
    </div>
</section>

<section id="projetos">
    <h2 class="text-center">Projetos</h2>
    <div class="container">
        <ul class="listaDeProjetos">
            <% portfolio.projetos.forEach(projeto => { %>
                <li class="container-fluid d-flex">
                    <div>
                        <h4>
                            <a href="<%= projeto.link %>"><%= projeto.nome %></a><small> Link para GitHub</small>
                        </h4>
                        <b><%= projeto.empresa %></b>
                        <p class="periodo pl-3"><%= projeto.periodo %></p>
                        <p class="greenText p-3"><%- projeto.descricao %></p>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
</section>

<section id="conhecimentos">
    <h2 class="text-center">Hard Skills</h2>
    <div class="container">
        <ul class="greenText p-2 list-unstyled">
            <% portfolio.hardSkills.forEach(skill => { %>
                <li class="mb-2"><strong><%= skill.split(':')[0] %>:</strong> <%= skill.split(':')[1] %></li>
            <% }); %>
        </ul>
    </div>

    <div class="container">
        <h2 class="text-center">Outros conhecimentos</h2>
        <% portfolio.outrosConhecimentos.forEach(conhecimento => { %>
            <h6><%= conhecimento.titulo %></h6>
            <p class="greenText p-3"><%= conhecimento.descricao %></p>
        <% }); %>
    </div>
</section>

<%- include('partials/footer') %>
